*{
    box-sizing: border-box;
}
.auth_container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #181818;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}
.auth_container .form_container{
    display: block;
    background-color: #282828;
    box-shadow: 3px 1px 16px 6px rgba(0,0,0,.3);
    height: 60%;
    width: 50%;
}
#buttons{
    display: block;
    width: 100%;
}

#buttons li{
    list-style-type: none;
    float: left;
    cursor: pointer;
}
#studentButton{
    width: 50%;
}
#authorButton{
    width: 50%;
}


.users{
    display: block;
}